.materialize-red.lighten-5 {
  background-color: #f5b3a6 !important; }

.materialize-red-text.text-lighten-5 {
  color: #f5b3a6 !important; }

.materialize-red.lighten-4 {
  background-color: #f2a08f !important; }

.materialize-red-text.text-lighten-4 {
  color: #f2a08f !important; }

.materialize-red.lighten-3 {
  background-color: #f08c78 !important; }

.materialize-red-text.text-lighten-3 {
  color: #f08c78 !important; }

.materialize-red.lighten-2 {
  background-color: #ed7961 !important; }

.materialize-red-text.text-lighten-2 {
  color: #ed7961 !important; }

.materialize-red.lighten-1 {
  background-color: #eb654a !important; }

.materialize-red-text.text-lighten-1 {
  color: #eb654a !important; }

.materialize-red {
  background-color: #e85233 !important; }

.materialize-red-text {
  color: #e85233 !important; }

.materialize-red.darken-1 {
  background-color: #e53f1c !important; }

.materialize-red-text.text-darken-1 {
  color: #e53f1c !important; }

.materialize-red.darken-2 {
  background-color: #d03718 !important; }

.materialize-red-text.text-darken-2 {
  color: #d03718 !important; }

.materialize-red.darken-3 {
  background-color: #ba3115 !important; }

.materialize-red-text.text-darken-3 {
  color: #ba3115 !important; }

.materialize-red.darken-4 {
  background-color: #a22c13 !important; }

.materialize-red-text.text-darken-4 {
  color: #a22c13 !important; }

.red.lighten-5 {
  background-color: #ef8974 !important; }

.red-text.text-lighten-5 {
  color: #ef8974 !important; }

.red.lighten-4 {
  background-color: #ed7b62 !important; }

.red-text.text-lighten-4 {
  color: #ed7b62 !important; }

.red.lighten-3 {
  background-color: #eb6c51 !important; }

.red-text.text-lighten-3 {
  color: #eb6c51 !important; }

.red.lighten-2 {
  background-color: #dc694f !important; }

.red-text.text-lighten-2 {
  color: #dc694f !important; }

.red.lighten-1 {
  background-color: #d95b3e !important; }

.red-text.text-lighten-1 {
  color: #d95b3e !important; }

.red {
  background-color: #d64d2e !important; }

.red-text {
  color: #d64d2e !important; }

.red.darken-1 {
  background-color: #d53918 !important; }

.red-text.text-darken-1 {
  color: #d53918 !important; }

.red.darken-2 {
  background-color: #c33516 !important; }

.red-text.text-darken-2 {
  color: #c33516 !important; }

.red.darken-3 {
  background-color: #b23014 !important; }

.red-text.text-darken-3 {
  color: #b23014 !important; }

.red.darken-4 {
  background-color: #a02b12 !important; }

.red-text.text-darken-4 {
  color: #a02b12 !important; }

.red.accent-1 {
  background-color: #e44429 !important; }

.red-text.text-accent-1 {
  color: #e44429 !important; }

.red.accent-2 {
  background-color: #e6533a !important; }

.red-text.text-accent-2 {
  color: #e6533a !important; }

.red.accent-3 {
  background-color: #e8624b !important; }

.red-text.text-accent-3 {
  color: #e8624b !important; }

.red.accent-4 {
  background-color: #ed816e !important; }

.red-text.text-accent-4 {
  color: #ed816e !important; }

.pink.lighten-5 {
  background-color: #fbc6cc !important; }

.pink-text.text-lighten-5 {
  color: #fbc6cc !important; }

.pink.lighten-4 {
  background-color: #fab4bc !important; }

.pink-text.text-lighten-4 {
  color: #fab4bc !important; }

.pink.lighten-3 {
  background-color: #f9a1ac !important; }

.pink-text.text-lighten-3 {
  color: #f9a1ac !important; }

.pink.lighten-2 {
  background-color: #f78f9c !important; }

.pink-text.text-lighten-2 {
  color: #f78f9c !important; }

.pink.lighten-1 {
  background-color: #f67c8b !important; }

.pink-text.text-lighten-1 {
  color: #f67c8b !important; }

.pink {
  background-color: #f56a7b !important; }

.pink-text {
  color: #f56a7b !important; }

.pink.darken-1 {
  background-color: #f4586b !important; }

.pink-text.text-darken-1 {
  color: #f4586b !important; }

.pink.darken-2 {
  background-color: #f3455a !important; }

.pink-text.text-darken-2 {
  color: #f3455a !important; }

.pink.darken-3 {
  background-color: #f1334a !important; }

.pink-text.text-darken-3 {
  color: #f1334a !important; }

.pink.darken-4 {
  background-color: #f0203a !important; }

.pink-text.text-darken-4 {
  color: #f0203a !important; }

.pink.accent-1 {
  background-color: #f4585d !important; }

.pink-text.text-accent-1 {
  color: #f4585d !important; }

.pink.accent-2 {
  background-color: #f56a6f !important; }

.pink-text.text-accent-2 {
  color: #f56a6f !important; }

.pink.accent-3 {
  background-color: #f67c81 !important; }

.pink-text.text-accent-3 {
  color: #f67c81 !important; }

.pink.accent-4 {
  background-color: #f78f93 !important; }

.pink-text.text-accent-4 {
  color: #f78f93 !important; }

.purple.lighten-5 {
  background-color: #c9c9e7 !important; }

.purple-text.text-lighten-5 {
  color: #c9c9e7 !important; }

.purple.lighten-4 {
  background-color: #bbbbe1 !important; }

.purple-text.text-lighten-4 {
  color: #bbbbe1 !important; }

.purple.lighten-3 {
  background-color: #aeaedb !important; }

.purple-text.text-lighten-3 {
  color: #aeaedb !important; }

.purple.lighten-2 {
  background-color: #a0a0d5 !important; }

.purple-text.text-lighten-2 {
  color: #a0a0d5 !important; }

.purple.lighten-1 {
  background-color: #9393cf !important; }

.purple-text.text-lighten-1 {
  color: #9393cf !important; }

.purple {
  background-color: #8585c9 !important; }

.purple-text {
  color: #8585c9 !important; }

.purple.darken-1 {
  background-color: #7777c3 !important; }

.purple-text.text-darken-1 {
  color: #7777c3 !important; }

.purple.darken-2 {
  background-color: #6a6abd !important; }

.purple-text.text-darken-2 {
  color: #6a6abd !important; }

.purple.darken-3 {
  background-color: #5c5cb7 !important; }

.purple-text.text-darken-3 {
  color: #5c5cb7 !important; }

.purple.darken-4 {
  background-color: #4f4fb1 !important; }

.purple-text.text-darken-4 {
  color: #4f4fb1 !important; }

.purple.accent-1 {
  background-color: #7e7ed0 !important; }

.purple-text.text-accent-1 {
  color: #7e7ed0 !important; }

.purple.accent-2 {
  background-color: #7777d7 !important; }

.purple-text.text-accent-2 {
  color: #7777d7 !important; }

.purple.accent-3 {
  background-color: #7171dd !important; }

.purple-text.text-accent-3 {
  color: #7171dd !important; }

.purple.accent-4 {
  background-color: #6a6ae4 !important; }

.purple-text.text-accent-4 {
  color: #6a6ae4 !important; }

.deep-purple.lighten-5 {
  background-color: #ede7f6 !important; }

.deep-purple-text.text-lighten-5 {
  color: #ede7f6 !important; }

.deep-purple.lighten-4 {
  background-color: #d1c4e9 !important; }

.deep-purple-text.text-lighten-4 {
  color: #d1c4e9 !important; }

.deep-purple.lighten-3 {
  background-color: #b39ddb !important; }

.deep-purple-text.text-lighten-3 {
  color: #b39ddb !important; }

.deep-purple.lighten-2 {
  background-color: #9575cd !important; }

.deep-purple-text.text-lighten-2 {
  color: #9575cd !important; }

.deep-purple.lighten-1 {
  background-color: #7e57c2 !important; }

.deep-purple-text.text-lighten-1 {
  color: #7e57c2 !important; }

.deep-purple {
  background-color: #673ab7 !important; }

.deep-purple-text {
  color: #673ab7 !important; }

.deep-purple.darken-1 {
  background-color: #5e35b1 !important; }

.deep-purple-text.text-darken-1 {
  color: #5e35b1 !important; }

.deep-purple.darken-2 {
  background-color: #512da8 !important; }

.deep-purple-text.text-darken-2 {
  color: #512da8 !important; }

.deep-purple.darken-3 {
  background-color: #4527a0 !important; }

.deep-purple-text.text-darken-3 {
  color: #4527a0 !important; }

.deep-purple.darken-4 {
  background-color: #311b92 !important; }

.deep-purple-text.text-darken-4 {
  color: #311b92 !important; }

.deep-purple.accent-1 {
  background-color: #b388ff !important; }

.deep-purple-text.text-accent-1 {
  color: #b388ff !important; }

.deep-purple.accent-2 {
  background-color: #7c4dff !important; }

.deep-purple-text.text-accent-2 {
  color: #7c4dff !important; }

.deep-purple.accent-3 {
  background-color: #651fff !important; }

.deep-purple-text.text-accent-3 {
  color: #651fff !important; }

.deep-purple.accent-4 {
  background-color: #6200ea !important; }

.deep-purple-text.text-accent-4 {
  color: #6200ea !important; }

.indigo.lighten-5 {
  background-color: #304c91 !important; }

.indigo-text.text-lighten-5 {
  color: #304c91 !important; }

.indigo.lighten-4 {
  background-color: #2b4482 !important; }

.indigo-text.text-lighten-4 {
  color: #2b4482 !important; }

.indigo.lighten-3 {
  background-color: #273d74 !important; }

.indigo-text.text-lighten-3 {
  color: #273d74 !important; }

.indigo.lighten-2 {
  background-color: #223565 !important; }

.indigo-text.text-lighten-2 {
  color: #223565 !important; }

.indigo.lighten-1 {
  background-color: #1d2d56 !important; }

.indigo-text.text-lighten-1 {
  color: #1d2d56 !important; }

.indigo {
  background-color: #182547 !important; }

.indigo-text {
  color: #182547 !important; }

.indigo.darken-1 {
  background-color: #131e39 !important; }

.indigo-text.text-darken-1 {
  color: #131e39 !important; }

.indigo.darken-2 {
  background-color: #0E162A !important; }

.indigo-text.text-darken-2 {
  color: #0E162A !important; }

.indigo.darken-3 {
  background-color: #090e1b !important; }

.indigo-text.text-darken-3 {
  color: #090e1b !important; }

.indigo.darken-4 {
  background-color: #04070d !important; }

.indigo-text.text-darken-4 {
  color: #04070d !important; }

.indigo.accent-1 {
  background-color: #8c9eff !important; }

.indigo-text.text-accent-1 {
  color: #8c9eff !important; }

.indigo.accent-2 {
  background-color: #536dfe !important; }

.indigo-text.text-accent-2 {
  color: #536dfe !important; }

.indigo.accent-3 {
  background-color: #3d5afe !important; }

.indigo-text.text-accent-3 {
  color: #3d5afe !important; }

.indigo.accent-4 {
  background-color: #304ffe !important; }

.indigo-text.text-accent-4 {
  color: #304ffe !important; }

.blue.lighten-5 {
  background-color: #375fb2 !important; }

.blue-text.text-lighten-5 {
  color: #375fb2 !important; }

.blue.lighten-4 {
  background-color: #3357a3 !important; }

.blue-text.text-lighten-4 {
  color: #3357a3 !important; }

.blue.lighten-3 {
  background-color: #2e4f94 !important; }

.blue-text.text-lighten-3 {
  color: #2e4f94 !important; }

.blue.lighten-2 {
  background-color: #294785 !important; }

.blue-text.text-lighten-2 {
  color: #294785 !important; }

.blue.lighten-1 {
  background-color: #253f76 !important; }

.blue-text.text-lighten-1 {
  color: #253f76 !important; }

.blue {
  background-color: #203767 !important; }

.blue-text {
  color: #203767 !important; }

.blue.darken-1 {
  background-color: #1b2f58 !important; }

.blue-text.text-darken-1 {
  color: #1b2f58 !important; }

.blue.darken-2 {
  background-color: #172749 !important; }

.blue-text.text-darken-2 {
  color: #172749 !important; }

.blue.darken-3 {
  background-color: #121f3a !important; }

.blue-text.text-darken-3 {
  color: #121f3a !important; }

.blue.darken-4 {
  background-color: #0d172b !important; }

.blue-text.text-darken-4 {
  color: #0d172b !important; }

.blue.accent-1 {
  background-color: #246EB2 !important; }

.blue-text.text-accent-1 {
  color: #246EB2 !important; }

.blue.accent-2 {
  background-color: #2778c2 !important; }

.blue-text.text-accent-2 {
  color: #2778c2 !important; }

.blue.accent-3 {
  background-color: #2b82d3 !important; }

.blue-text.text-accent-3 {
  color: #2b82d3 !important; }

.blue.accent-4 {
  background-color: #3a8cd7 !important; }

.blue-text.text-accent-4 {
  color: #3a8cd7 !important; }

.light-blue.lighten-5 {
  background-color: #a6c2e1 !important; }

.light-blue-text.text-lighten-5 {
  color: #a6c2e1 !important; }

.light-blue.lighten-4 {
  background-color: #98b8dc !important; }

.light-blue-text.text-lighten-4 {
  color: #98b8dc !important; }

.light-blue.lighten-3 {
  background-color: #89aed7 !important; }

.light-blue-text.text-lighten-3 {
  color: #89aed7 !important; }

.light-blue.lighten-2 {
  background-color: #7aa4d2 !important; }

.light-blue-text.text-lighten-2 {
  color: #7aa4d2 !important; }

.light-blue.lighten-1 {
  background-color: #6c9acd !important; }

.light-blue-text.text-lighten-1 {
  color: #6c9acd !important; }

.light-blue {
  background-color: #5D90C8 !important; }

.light-blue-text {
  color: #5D90C8 !important; }

.light-blue.darken-1 {
  background-color: #4e86c3 !important; }

.light-blue-text.text-darken-1 {
  color: #4e86c3 !important; }

.light-blue.darken-2 {
  background-color: #0288d1 !important; }

.light-blue-text.text-darken-2 {
  color: #0288d1 !important; }

.light-blue.darken-3 {
  background-color: #407cbd !important; }

.light-blue-text.text-darken-3 {
  color: #407cbd !important; }

.light-blue.darken-4 {
  background-color: #3b72af !important; }

.light-blue-text.text-darken-4 {
  color: #3b72af !important; }

.light-blue.accent-1 {
  background-color: #98b8dc !important; }

.light-blue-text.text-accent-1 {
  color: #98b8dc !important; }

.light-blue.accent-2 {
  background-color: #a6c2e1 !important; }

.light-blue-text.text-accent-2 {
  color: #a6c2e1 !important; }

.light-blue.accent-3 {
  background-color: #b5cce6 !important; }

.light-blue-text.text-accent-3 {
  color: #b5cce6 !important; }

.light-blue.accent-4 {
  background-color: #c4d6eb !important; }

.light-blue-text.text-accent-4 {
  color: #c4d6eb !important; }

.cyan.lighten-5 {
  background-color: #f0f6f6 !important; }

.cyan-text.text-lighten-5 {
  color: #f0f6f6 !important; }

.cyan.lighten-4 {
  background-color: #e4efef !important; }

.cyan-text.text-lighten-4 {
  color: #e4efef !important; }

.cyan.lighten-3 {
  background-color: #d7e8e7 !important; }

.cyan-text.text-lighten-3 {
  color: #d7e8e7 !important; }

.cyan.lighten-2 {
  background-color: #cbe1e0 !important; }

.cyan-text.text-lighten-2 {
  color: #cbe1e0 !important; }

.cyan.lighten-1 {
  background-color: #bedad8 !important; }

.cyan-text.text-lighten-1 {
  color: #bedad8 !important; }

.cyan {
  background-color: #b2d3d1 !important; }

.cyan-text {
  color: #b2d3d1 !important; }

.cyan.darken-1 {
  background-color: #a5ccc9 !important; }

.cyan-text.text-darken-1 {
  color: #a5ccc9 !important; }

.cyan.darken-2 {
  background-color: #99c5c2 !important; }

.cyan-text.text-darken-2 {
  color: #99c5c2 !important; }

.cyan.darken-3 {
  background-color: #8cbeba !important; }

.cyan-text.text-darken-3 {
  color: #8cbeba !important; }

.cyan.darken-4 {
  background-color: #80b6b3 !important; }

.cyan-text.text-darken-4 {
  color: #80b6b3 !important; }

.cyan.accent-1 {
  background-color: #c6d2d1 !important; }

.cyan-text.text-accent-1 {
  color: #c6d2d1 !important; }

.cyan.accent-2 {
  background-color: #c2d6d5 !important; }

.cyan-text.text-accent-2 {
  color: #c2d6d5 !important; }

.cyan.accent-3 {
  background-color: #bedad8 !important; }

.cyan-text.text-accent-3 {
  color: #bedad8 !important; }

.cyan.accent-4 {
  background-color: #badedb !important; }

.cyan-text.text-accent-4 {
  color: #badedb !important; }

.teal.lighten-5 {
  background-color: #85d0bd !important; }

.teal-text.text-lighten-5 {
  color: #85d0bd !important; }

.teal.lighten-4 {
  background-color: #77cab5 !important; }

.teal-text.text-lighten-4 {
  color: #77cab5 !important; }

.teal.lighten-3 {
  background-color: #69c5ae !important; }

.teal-text.text-lighten-3 {
  color: #69c5ae !important; }

.teal.lighten-2 {
  background-color: #5bbfa6 !important; }

.teal-text.text-lighten-2 {
  color: #5bbfa6 !important; }

.teal.lighten-1 {
  background-color: #4dba9e !important; }

.teal-text.text-lighten-1 {
  color: #4dba9e !important; }

.teal {
  background-color: #44AF94 !important; }

.teal-text {
  color: #44AF94 !important; }

.teal.darken-1 {
  background-color: #3fa188 !important; }

.teal-text.text-darken-1 {
  color: #3fa188 !important; }

.teal.darken-2 {
  background-color: #39937c !important; }

.teal-text.text-darken-2 {
  color: #39937c !important; }

.teal.darken-3 {
  background-color: #348570 !important; }

.teal-text.text-darken-3 {
  color: #348570 !important; }

.teal.darken-4 {
  background-color: #2e7664 !important; }

.teal-text.text-darken-4 {
  color: #2e7664 !important; }

.teal.accent-1 {
  background-color: #698a81 !important; }

.teal-text.text-accent-1 {
  color: #698a81 !important; }

.teal.accent-2 {
  background-color: #609386 !important; }

.teal-text.text-accent-2 {
  color: #609386 !important; }

.teal.accent-3 {
  background-color: #579c8b !important; }

.teal-text.text-accent-3 {
  color: #579c8b !important; }

.teal.accent-4 {
  background-color: #4da68f !important; }

.teal-text.text-accent-4 {
  color: #4da68f !important; }

.green.lighten-5 {
  background-color: #E8F5E9 !important; }

.green-text.text-lighten-5 {
  color: #E8F5E9 !important; }

.green.lighten-4 {
  background-color: #C8E6C9 !important; }

.green-text.text-lighten-4 {
  color: #C8E6C9 !important; }

.green.lighten-3 {
  background-color: #A5D6A7 !important; }

.green-text.text-lighten-3 {
  color: #A5D6A7 !important; }

.green.lighten-2 {
  background-color: #81C784 !important; }

.green-text.text-lighten-2 {
  color: #81C784 !important; }

.green.lighten-1 {
  background-color: #66BB6A !important; }

.green-text.text-lighten-1 {
  color: #66BB6A !important; }

.green {
  background-color: #4CAF50 !important; }

.green-text {
  color: #4CAF50 !important; }

.green.darken-1 {
  background-color: #43A047 !important; }

.green-text.text-darken-1 {
  color: #43A047 !important; }

.green.darken-2 {
  background-color: #388E3C !important; }

.green-text.text-darken-2 {
  color: #388E3C !important; }

.green.darken-3 {
  background-color: #2E7D32 !important; }

.green-text.text-darken-3 {
  color: #2E7D32 !important; }

.green.darken-4 {
  background-color: #1B5E20 !important; }

.green-text.text-darken-4 {
  color: #1B5E20 !important; }

.green.accent-1 {
  background-color: #B9F6CA !important; }

.green-text.text-accent-1 {
  color: #B9F6CA !important; }

.green.accent-2 {
  background-color: #69F0AE !important; }

.green-text.text-accent-2 {
  color: #69F0AE !important; }

.green.accent-3 {
  background-color: #00E676 !important; }

.green-text.text-accent-3 {
  color: #00E676 !important; }

.green.accent-4 {
  background-color: #00C853 !important; }

.green-text.text-accent-4 {
  color: #00C853 !important; }

.light-green.lighten-5 {
  background-color: #f1f8e9 !important; }

.light-green-text.text-lighten-5 {
  color: #f1f8e9 !important; }

.light-green.lighten-4 {
  background-color: #dcedc8 !important; }

.light-green-text.text-lighten-4 {
  color: #dcedc8 !important; }

.light-green.lighten-3 {
  background-color: #c5e1a5 !important; }

.light-green-text.text-lighten-3 {
  color: #c5e1a5 !important; }

.light-green.lighten-2 {
  background-color: #aed581 !important; }

.light-green-text.text-lighten-2 {
  color: #aed581 !important; }

.light-green.lighten-1 {
  background-color: #9ccc65 !important; }

.light-green-text.text-lighten-1 {
  color: #9ccc65 !important; }

.light-green {
  background-color: #8bc34a !important; }

.light-green-text {
  color: #8bc34a !important; }

.light-green.darken-1 {
  background-color: #7cb342 !important; }

.light-green-text.text-darken-1 {
  color: #7cb342 !important; }

.light-green.darken-2 {
  background-color: #689f38 !important; }

.light-green-text.text-darken-2 {
  color: #689f38 !important; }

.light-green.darken-3 {
  background-color: #558b2f !important; }

.light-green-text.text-darken-3 {
  color: #558b2f !important; }

.light-green.darken-4 {
  background-color: #33691e !important; }

.light-green-text.text-darken-4 {
  color: #33691e !important; }

.light-green.accent-1 {
  background-color: #ccff90 !important; }

.light-green-text.text-accent-1 {
  color: #ccff90 !important; }

.light-green.accent-2 {
  background-color: #b2ff59 !important; }

.light-green-text.text-accent-2 {
  color: #b2ff59 !important; }

.light-green.accent-3 {
  background-color: #76ff03 !important; }

.light-green-text.text-accent-3 {
  color: #76ff03 !important; }

.light-green.accent-4 {
  background-color: #64dd17 !important; }

.light-green-text.text-accent-4 {
  color: #64dd17 !important; }

.lime.lighten-5 {
  background-color: #f9fbe7 !important; }

.lime-text.text-lighten-5 {
  color: #f9fbe7 !important; }

.lime.lighten-4 {
  background-color: #f0f4c3 !important; }

.lime-text.text-lighten-4 {
  color: #f0f4c3 !important; }

.lime.lighten-3 {
  background-color: #e6ee9c !important; }

.lime-text.text-lighten-3 {
  color: #e6ee9c !important; }

.lime.lighten-2 {
  background-color: #dce775 !important; }

.lime-text.text-lighten-2 {
  color: #dce775 !important; }

.lime.lighten-1 {
  background-color: #d4e157 !important; }

.lime-text.text-lighten-1 {
  color: #d4e157 !important; }

.lime {
  background-color: #cddc39 !important; }

.lime-text {
  color: #cddc39 !important; }

.lime.darken-1 {
  background-color: #c0ca33 !important; }

.lime-text.text-darken-1 {
  color: #c0ca33 !important; }

.lime.darken-2 {
  background-color: #afb42b !important; }

.lime-text.text-darken-2 {
  color: #afb42b !important; }

.lime.darken-3 {
  background-color: #9e9d24 !important; }

.lime-text.text-darken-3 {
  color: #9e9d24 !important; }

.lime.darken-4 {
  background-color: #827717 !important; }

.lime-text.text-darken-4 {
  color: #827717 !important; }

.lime.accent-1 {
  background-color: #f4ff81 !important; }

.lime-text.text-accent-1 {
  color: #f4ff81 !important; }

.lime.accent-2 {
  background-color: #eeff41 !important; }

.lime-text.text-accent-2 {
  color: #eeff41 !important; }

.lime.accent-3 {
  background-color: #c6ff00 !important; }

.lime-text.text-accent-3 {
  color: #c6ff00 !important; }

.lime.accent-4 {
  background-color: #aeea00 !important; }

.lime-text.text-accent-4 {
  color: #aeea00 !important; }

.yellow.lighten-5 {
  background-color: #fffde7 !important; }

.yellow-text.text-lighten-5 {
  color: #fffde7 !important; }

.yellow.lighten-4 {
  background-color: #fff9c4 !important; }

.yellow-text.text-lighten-4 {
  color: #fff9c4 !important; }

.yellow.lighten-3 {
  background-color: #fff59d !important; }

.yellow-text.text-lighten-3 {
  color: #fff59d !important; }

.yellow.lighten-2 {
  background-color: #fff176 !important; }

.yellow-text.text-lighten-2 {
  color: #fff176 !important; }

.yellow.lighten-1 {
  background-color: #ffee58 !important; }

.yellow-text.text-lighten-1 {
  color: #ffee58 !important; }

.yellow {
  background-color: #ffeb3b !important; }

.yellow-text {
  color: #ffeb3b !important; }

.yellow.darken-1 {
  background-color: #fdd835 !important; }

.yellow-text.text-darken-1 {
  color: #fdd835 !important; }

.yellow.darken-2 {
  background-color: #fbc02d !important; }

.yellow-text.text-darken-2 {
  color: #fbc02d !important; }

.yellow.darken-3 {
  background-color: #f9a825 !important; }

.yellow-text.text-darken-3 {
  color: #f9a825 !important; }

.yellow.darken-4 {
  background-color: #f57f17 !important; }

.yellow-text.text-darken-4 {
  color: #f57f17 !important; }

.yellow.accent-1 {
  background-color: #ffff8d !important; }

.yellow-text.text-accent-1 {
  color: #ffff8d !important; }

.yellow.accent-2 {
  background-color: #ffff00 !important; }

.yellow-text.text-accent-2 {
  color: #ffff00 !important; }

.yellow.accent-3 {
  background-color: #ffea00 !important; }

.yellow-text.text-accent-3 {
  color: #ffea00 !important; }

.yellow.accent-4 {
  background-color: #ffd600 !important; }

.yellow-text.text-accent-4 {
  color: #ffd600 !important; }

.amber.lighten-5 {
  background-color: #fff8e1 !important; }

.amber-text.text-lighten-5 {
  color: #fff8e1 !important; }

.amber.lighten-4 {
  background-color: #ffecb3 !important; }

.amber-text.text-lighten-4 {
  color: #ffecb3 !important; }

.amber.lighten-3 {
  background-color: #ffe082 !important; }

.amber-text.text-lighten-3 {
  color: #ffe082 !important; }

.amber.lighten-2 {
  background-color: #ffd54f !important; }

.amber-text.text-lighten-2 {
  color: #ffd54f !important; }

.amber.lighten-1 {
  background-color: #ffca28 !important; }

.amber-text.text-lighten-1 {
  color: #ffca28 !important; }

.amber {
  background-color: #ffc107 !important; }

.amber-text {
  color: #ffc107 !important; }

.amber.darken-1 {
  background-color: #ffb300 !important; }

.amber-text.text-darken-1 {
  color: #ffb300 !important; }

.amber.darken-2 {
  background-color: #ffa000 !important; }

.amber-text.text-darken-2 {
  color: #ffa000 !important; }

.amber.darken-3 {
  background-color: #ff8f00 !important; }

.amber-text.text-darken-3 {
  color: #ff8f00 !important; }

.amber.darken-4 {
  background-color: #ff6f00 !important; }

.amber-text.text-darken-4 {
  color: #ff6f00 !important; }

.amber.accent-1 {
  background-color: #ffe57f !important; }

.amber-text.text-accent-1 {
  color: #ffe57f !important; }

.amber.accent-2 {
  background-color: #ffd740 !important; }

.amber-text.text-accent-2 {
  color: #ffd740 !important; }

.amber.accent-3 {
  background-color: #ffc400 !important; }

.amber-text.text-accent-3 {
  color: #ffc400 !important; }

.amber.accent-4 {
  background-color: #ffab00 !important; }

.amber-text.text-accent-4 {
  color: #ffab00 !important; }

.orange.lighten-5 {
  background-color: #fff3e0 !important; }

.orange-text.text-lighten-5 {
  color: #fff3e0 !important; }

.orange.lighten-4 {
  background-color: #ffe0b2 !important; }

.orange-text.text-lighten-4 {
  color: #ffe0b2 !important; }

.orange.lighten-3 {
  background-color: #ffcc80 !important; }

.orange-text.text-lighten-3 {
  color: #ffcc80 !important; }

.orange.lighten-2 {
  background-color: #ffb74d !important; }

.orange-text.text-lighten-2 {
  color: #ffb74d !important; }

.orange.lighten-1 {
  background-color: #ffa726 !important; }

.orange-text.text-lighten-1 {
  color: #ffa726 !important; }

.orange {
  background-color: #ff9800 !important; }

.orange-text {
  color: #ff9800 !important; }

.orange.darken-1 {
  background-color: #fb8c00 !important; }

.orange-text.text-darken-1 {
  color: #fb8c00 !important; }

.orange.darken-2 {
  background-color: #f57c00 !important; }

.orange-text.text-darken-2 {
  color: #f57c00 !important; }

.orange.darken-3 {
  background-color: #ef6c00 !important; }

.orange-text.text-darken-3 {
  color: #ef6c00 !important; }

.orange.darken-4 {
  background-color: #e65100 !important; }

.orange-text.text-darken-4 {
  color: #e65100 !important; }

.orange.accent-1 {
  background-color: #ffd180 !important; }

.orange-text.text-accent-1 {
  color: #ffd180 !important; }

.orange.accent-2 {
  background-color: #ffab40 !important; }

.orange-text.text-accent-2 {
  color: #ffab40 !important; }

.orange.accent-3 {
  background-color: #ff9100 !important; }

.orange-text.text-accent-3 {
  color: #ff9100 !important; }

.orange.accent-4 {
  background-color: #ff6d00 !important; }

.orange-text.text-accent-4 {
  color: #ff6d00 !important; }

.deep-orange.lighten-5 {
  background-color: #fbe9e7 !important; }

.deep-orange-text.text-lighten-5 {
  color: #fbe9e7 !important; }

.deep-orange.lighten-4 {
  background-color: #ffccbc !important; }

.deep-orange-text.text-lighten-4 {
  color: #ffccbc !important; }

.deep-orange.lighten-3 {
  background-color: #ffab91 !important; }

.deep-orange-text.text-lighten-3 {
  color: #ffab91 !important; }

.deep-orange.lighten-2 {
  background-color: #ff8a65 !important; }

.deep-orange-text.text-lighten-2 {
  color: #ff8a65 !important; }

.deep-orange.lighten-1 {
  background-color: #ff7043 !important; }

.deep-orange-text.text-lighten-1 {
  color: #ff7043 !important; }

.deep-orange {
  background-color: #ff5722 !important; }

.deep-orange-text {
  color: #ff5722 !important; }

.deep-orange.darken-1 {
  background-color: #f4511e !important; }

.deep-orange-text.text-darken-1 {
  color: #f4511e !important; }

.deep-orange.darken-2 {
  background-color: #e64a19 !important; }

.deep-orange-text.text-darken-2 {
  color: #e64a19 !important; }

.deep-orange.darken-3 {
  background-color: #d84315 !important; }

.deep-orange-text.text-darken-3 {
  color: #d84315 !important; }

.deep-orange.darken-4 {
  background-color: #bf360c !important; }

.deep-orange-text.text-darken-4 {
  color: #bf360c !important; }

.deep-orange.accent-1 {
  background-color: #ff9e80 !important; }

.deep-orange-text.text-accent-1 {
  color: #ff9e80 !important; }

.deep-orange.accent-2 {
  background-color: #ff6e40 !important; }

.deep-orange-text.text-accent-2 {
  color: #ff6e40 !important; }

.deep-orange.accent-3 {
  background-color: #ff3d00 !important; }

.deep-orange-text.text-accent-3 {
  color: #ff3d00 !important; }

.deep-orange.accent-4 {
  background-color: #dd2c00 !important; }

.deep-orange-text.text-accent-4 {
  color: #dd2c00 !important; }

.brown.lighten-5 {
  background-color: #efebe9 !important; }

.brown-text.text-lighten-5 {
  color: #efebe9 !important; }

.brown.lighten-4 {
  background-color: #d7ccc8 !important; }

.brown-text.text-lighten-4 {
  color: #d7ccc8 !important; }

.brown.lighten-3 {
  background-color: #bcaaa4 !important; }

.brown-text.text-lighten-3 {
  color: #bcaaa4 !important; }

.brown.lighten-2 {
  background-color: #a1887f !important; }

.brown-text.text-lighten-2 {
  color: #a1887f !important; }

.brown.lighten-1 {
  background-color: #8d6e63 !important; }

.brown-text.text-lighten-1 {
  color: #8d6e63 !important; }

.brown {
  background-color: #795548 !important; }

.brown-text {
  color: #795548 !important; }

.brown.darken-1 {
  background-color: #6d4c41 !important; }

.brown-text.text-darken-1 {
  color: #6d4c41 !important; }

.brown.darken-2 {
  background-color: #5d4037 !important; }

.brown-text.text-darken-2 {
  color: #5d4037 !important; }

.brown.darken-3 {
  background-color: #4e342e !important; }

.brown-text.text-darken-3 {
  color: #4e342e !important; }

.brown.darken-4 {
  background-color: #3e2723 !important; }

.brown-text.text-darken-4 {
  color: #3e2723 !important; }

.blue-grey.lighten-5 {
  background-color: #eceff1 !important; }

.blue-grey-text.text-lighten-5 {
  color: #eceff1 !important; }

.blue-grey.lighten-4 {
  background-color: #cfd8dc !important; }

.blue-grey-text.text-lighten-4 {
  color: #cfd8dc !important; }

.blue-grey.lighten-3 {
  background-color: #b0bec5 !important; }

.blue-grey-text.text-lighten-3 {
  color: #b0bec5 !important; }

.blue-grey.lighten-2 {
  background-color: #90a4ae !important; }

.blue-grey-text.text-lighten-2 {
  color: #90a4ae !important; }

.blue-grey.lighten-1 {
  background-color: #78909c !important; }

.blue-grey-text.text-lighten-1 {
  color: #78909c !important; }

.blue-grey {
  background-color: #607d8b !important; }

.blue-grey-text {
  color: #607d8b !important; }

.blue-grey.darken-1 {
  background-color: #546e7a !important; }

.blue-grey-text.text-darken-1 {
  color: #546e7a !important; }

.blue-grey.darken-2 {
  background-color: #455a64 !important; }

.blue-grey-text.text-darken-2 {
  color: #455a64 !important; }

.blue-grey.darken-3 {
  background-color: #37474f !important; }

.blue-grey-text.text-darken-3 {
  color: #37474f !important; }

.blue-grey.darken-4 {
  background-color: #263238 !important; }

.blue-grey-text.text-darken-4 {
  color: #263238 !important; }

.grey.lighten-5 {
  background-color: #fafafa !important; }

.grey-text.text-lighten-5 {
  color: #fafafa !important; }

.grey.lighten-4 {
  background-color: #f5f5f5 !important; }

.grey-text.text-lighten-4 {
  color: #f5f5f5 !important; }

.grey.lighten-3 {
  background-color: #eeeeee !important; }

.grey-text.text-lighten-3 {
  color: #eeeeee !important; }

.grey.lighten-2 {
  background-color: #e0e0e0 !important; }

.grey-text.text-lighten-2 {
  color: #e0e0e0 !important; }

.grey.lighten-1 {
  background-color: #bdbdbd !important; }

.grey-text.text-lighten-1 {
  color: #bdbdbd !important; }

.grey {
  background-color: #9e9e9e !important; }

.grey-text {
  color: #9e9e9e !important; }

.grey.darken-1 {
  background-color: #757575 !important; }

.grey-text.text-darken-1 {
  color: #757575 !important; }

.grey.darken-2 {
  background-color: #616161 !important; }

.grey-text.text-darken-2 {
  color: #616161 !important; }

.grey.darken-3 {
  background-color: #424242 !important; }

.grey-text.text-darken-3 {
  color: #424242 !important; }

.grey.darken-4 {
  background-color: #212121 !important; }

.grey-text.text-darken-4 {
  color: #212121 !important; }

.shades.black {
  background-color: #000000 !important; }

.shades-text.text-black {
  color: #000000 !important; }

.shades.white {
  background-color: #FFFFFF !important; }

.shades-text.text-white {
  color: #FFFFFF !important; }

.shades.transparent {
  background-color: transparent !important; }

.shades-text.text-transparent {
  color: transparent !important; }

.black {
  background-color: #000000 !important; }

.black-text {
  color: #000000 !important; }

.white {
  background-color: #FFFFFF !important; }

.white-text {
  color: #FFFFFF !important; }

.transparent {
  background-color: transparent !important; }

.transparent-text {
  color: transparent !important; }
